<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>


<!--     
      <mat-list-option>
        <mat-list-item>عربى</mat-list-item>
        <mat-list-item>English</mat-list-item>
      </mat-list-option -->
      <nav class="container mb-4 mt-4">
        <div class="row">
          <div class="col-10"></div>
          <div class="col-2">
            <select #selectedLang class="custom-select" (change)="changeLang(selectedLang.value)">
              <option value="ar-AR" [selected]="lang == 'ar-AR'">{{'arabic'|translate}}</option>
              <option value="en-EN" [selected]="lang == 'en-EN'">{{'english'|translate}}</option>
            </select>
          </div>


        </div>
      </nav>

        <!-- <div class="language-picker-area"> 
            <select #selectedLang class="language-picker" (change)="changeLang(selectedLang.value)">
              <option value="ar" [selected]="lang == 'ar'">عربى</option>
              <option value="en" [selected]="lang == 'en'">English</option>
            </select>    
          </div> -->


    
    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li>
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            class="user mt-2 d-flex align-items-center">
            <img src="./assets/user.jpg" alt="" class="user-image mr-1 p-2" />

           <!--{{'user_name'|translate}}-->
           {{authService.decodedToken?.unique_name}}
            <mat-icon class="user-image-icon ml-1"
              >keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              {{'log_out' | translate}}
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

