<form #myForm="ngForm" (submit)="demoGraphicCreateUpdate(myForm)">
  <div class="form group" *ngIf="isDetailsEmpty">
    <span  class="text-danger" >
      At least enter one Details!
    </span>
  </div>
<br/>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <input #demographicID type="number" class="form-control" placeholder="ID" [ngModel]="demTypeIdModel" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div class="col-md-1">
          <input type="button" id="btnSearch" value="Search" (click)="demoGraphicGetById(demographicID.value)" class="btn btn-primary" />
        </div>
        <div class="col-md-1">
          <input type="button" id="btnNew" value="New" (click)="reloadPage()" class="btn btn-primary" />
        </div>
        <div class="col-md-1">
          <input type="button" id="btnDelete" value="Delete" (click)="demoGraphicDelete(demographicID.value)" class="btn btn-danger" />
        </div>
      </div>
    
      <hr />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="demographictypeDescAr" 
             #demographictypeDescAr="ngModel"
             placeholder="Demographic Type Description (AR)" [(ngModel)]="demographic.typeDescAr" required />
             <span  class="text-danger" *ngIf="demographictypeDescAr.invalid && (demographictypeDescAr.touched ||demographictypeDescAr.dirty)">
              Field Required!
            </span>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="demographictypeDescEn" placeholder="Demographic Type Description (EN)" [(ngModel)]="demographic.typeDescEn" />
    </div>

    <div class="form-group">
      <input type="date" class="form-control" name="demographictypeDate" 
      #demographictypeDate="ngModel"
      placeholder="Demographic Type Date" [(ngModel)]="demographic.demTypeDate"  required/>
      <span  class="text-danger" *ngIf="demographictypeDate.invalid && (demographictypeDate.touched ||demographictypeDate.dirty)">
        Field Required!
      </span>
    </div>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="demographic">
      <thead>
        <tr>
          <th>Answer Description(AR)</th>
          <th>Answer Description(EN)</th>
          <th>Weight</th>
        </tr>
    
      </thead>
      <tbody>
        <tr *ngFor="let dem of demographic.demographicTypeDtltbl; let i = index">          
          <td><input [(ngModel)]="dem.choicesAr"  class="form-control" type="text" name="{{'choicesAr' + i}}" required/>
          <span  class="text-danger" *ngIf="!dem.choicesAr">
            Field Required!
          </span>
        </td>

          <td><input [(ngModel)]="dem.choicesEn" class="form-control" type="text" name="{{'choicesEn' + i}}" /></td>

          <td><input  [(ngModel)]="dem.weightValue"  class="form-control" type="number" name="{{'weightValue' + i}}" required/>
            <span class="text-danger" *ngIf="!dem.weightValue">
              Field Required!
            </span>
        </td>
          <td><input type="button" value="Remove" class="btn btn-default" (click)="removeDemoGraphicDetail(i)" /></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><input class="form-control" type="text" id="newDemoGraphicDetailchoicesAr" [(ngModel)]="newDemoGraphicDetail.choicesAr" name="newDemoGraphicDetailchoicesAr" (change)="addDemoGraphicDetail()" /></td>
          <td><input class="form-control" type="text" id="newDemoGraphicDetailchoicesEn" [(ngModel)]="newDemoGraphicDetail.choicesEn" name="newDemoGraphicDetailchoicesEn" (change)="addDemoGraphicDetail()" /></td>
          <td><input class="form-control" type="tel" id="newDemoGraphicDetailweightValue" [(ngModel)]="newDemoGraphicDetail.weightValue" name="newDemoGraphicDetailweightValue" (change)="addDemoGraphicDetail()" 
            /></td>
    
          <td><input type="button" value="Add" class="btn btn-default" (click)="addDemoGraphicDetail()" /></td>
        </tr>
      </tfoot>
    
    </table>
    <input type="submit" value="Save All" class="btn btn-primary"/>
    <input  type="button" class="btn btn-primary float-right" (click)="openPopup()" value="Show Data">

    

  </form>    

    <!-----------------------------------------Modal------------------------------------------>
 <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-inside-scroll">
      <div class="modal-header">
        <h4 class="modal-title">Demographic Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopup()" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <input type="text" placeholder="Search" [(ngModel)]="textFilterModel" class="form-control col-md-6" (keyup)="modalSearchKeyUp()">
        </p>
        <div class="row">
          <div class="form-group col-md-4">
            <label>From</label>
            <input type="date" placeholder="From" [(ngModel)]="dateFromFilterModel" class="form-control">
          </div>
          <div class="form-group col-md-4">
            <label>To</label>
            <input type="date" placeholder="To" [(ngModel)]="dateToFilterModel" class="form-control"> 
          </div>
          <div class="form-group col-md-2">
            <label>&nbsp;</label>
            <input type="button" value="Search Dates" class="btn btn-primary" (click)="filterDemoGraphicListByDate()"/>
          </div>
        </div>         
                    
      <table class="table">
        <thead>
          <th>
           Id
          </th>
          <th>
            Arabic Description
          </th>
          <th>
            English Description
          </th>
          <th>
            Date
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let dem of demoGraphicList | demographicfilter:textFilterModel:dateFromFilterModel:dateToFilterModel:isDateFilter">
            <td>{{dem.demTypeId}}</td>
            <td>{{dem.typeDescAr}}</td>
            <td>{{dem.typeDescEn}}</td> 
            <td>{{dem.demTypeDate | date :'yyyy-MM-dd'}}</td> 
            <td><input type="button" value="Select" class="btn btn-link" (click)="demoGraphicGetById(dem.demTypeId);closePopup()" /></td>            
          </tr>
        </tbody>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
