<div class="container">
  <app-utilities (clickSave)="invoiceCreateUpdate(myForm)" (clickPopup)="openPopup()" (delete)="invoiceDelete(id)"
    [name]="pageName"></app-utilities>

  <form #myForm="ngForm" class="page__content shadow p-3 page__content-data">
    <div class="container-fluid">
      <div class="bg-white border rounded p-3">
        <div class="row">
          <div class="col-md-8">
            <div class="row controlRow">
              <div class="col-sm-1">
                <label class="small float-right pt-2">رقم الفئة</label>
              </div>
              <div class="col-sm-4">
                <div class="d-flex txtStore">
                  <input type="text" class="form-control form-control-sm w-25 d-none txtStoreId"
                    [(ngModel)]="lookupItemDetails.code" name="txtStoreId" />

                  <input type="text" class="form-control form-control-sm w-25 txtStoreCode"
                    (dblclick)="openModal(templateCategories)"
                    (change)="lookupDetailsGetBylookupId(lookupItemDetails.code)"
                    [ngClass]="{'is-invalid': (!lookupItemDetails.code) && (lookupItemDetails.code==0)&& (lookupItm.touched || lookupItm.dirty)}"
                    #lookupItm="ngModel" [(ngModel)]="lookupItemDetails.code" name="txtStoreCode" required
                    placeholder="0" />

                  <input type="text" id="start" class="form-control form-control-sm txtStoreName" readonly
                    [(ngModel)]="lookupItemDetails.nameL1" name="txtStoreName" required placeholder="أسم الفئة" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Button trigger modal -->

  <table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th></th>
        <th class="indexStyle">العمله</th>
        <th>اسم العمله</th>
        <th>حساب المبيعات</th>
        <th>حساب مردود المبيعات</th>
        <th>حساب الخصم المكتسب</th>
        <th>حساب الخصم المسموح به</th>
        <th>حساب الضريبه ضريبه المبيعات</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <button type="button" name="" id="" class="btn btn-outline-primary btn-sm" (click)="addNewRoow()"><i class="fa fa-plus"></i></button>
        </td>
        <td>
          <input type="text" class="form-control form-control-sm indexStyle" (dblclick)="openModal(currencyTemplete)"
            (change)="lookupDetailsGetBylookupId(currencyItem.code)"
            [ngClass]="{'is-invalid': (!currencyItem.code) && (currencyItem.code==0)&& (currencyItm.touched || currencyItm.dirty)}"
            #currencyItm="ngModel" [(ngModel)]="currencyItem.code" name="txtStoreCode" required placeholder="0" />
        </td>
        <td>
          <input type="text" class="form-control form-control-sm" disabled="true" [(ngModel)]="currencyItem.nameL1"
            name="currencyName" placeholder="أسم العملة" />
        </td>
        <td>
          <input type="text" class="form-control form-control-sm " (dblclick)="openModal(AccountTemplete,1)"
            [ngClass]="{'is-invalid': (!accountItem1.accountNo) && (accountItem1.accountNo=='')&& (accountItm1.touched || accountItm1.dirty)}"
            #accountItm1="ngModel" [(ngModel)]="accountItem1.accountNo" name="txtStoreCode" required
            placeholder="انقر مرتين للاختيار" />
        </td>
        <td>
          <input type="text" class="form-control form-control-sm " (dblclick)="openModal(AccountTemplete,2)"
            [ngClass]="{'is-invalid': (!accountItem1.accountNo) && (accountItem1.accountNo=='')&& (accountItm2.touched || accountItm2.dirty)}"
            #accountItm2="ngModel" [(ngModel)]="accountItem2.accountNo" name="txtStoreCode" required
            placeholder="انقر مرتين للاختيار" />
        </td>
        <td>
          <input type="text" class="form-control form-control-sm " (dblclick)="openModal(AccountTemplete,3)"
            [ngClass]="{'is-invalid': (!accountItem1.accountNo) && (accountItem1.accountNo=='')&& (accountItm3.touched || accountItm3.dirty)}"
            #accountItm3="ngModel" [(ngModel)]="accountItem3.accountNo" name="txtStoreCode" required
            placeholder="انقر مرتين للاختيار" />
        </td>
        <td>
          <input type="text" class="form-control form-control-sm " (dblclick)="openModal(AccountTemplete,4)"
            [ngClass]="{'is-invalid': (!accountItem1.accountNo) && (accountItem1.accountNo=='')&& (accountItm4.touched || accountItm4.dirty)}"
            #accountItm4="ngModel" [(ngModel)]="accountItem4.accountNo" name="txtStoreCode" required
            placeholder="انقر مرتين للاختيار" />
        </td>
        <td>
          <input type="text" class="form-control form-control-sm " (dblclick)="openModal(AccountTemplete,5)"
            [ngClass]="{'is-invalid': (!accountItem1.accountNo) && (accountItem1.accountNo=='')&& (accountItm5.touched || accountItm5.dirty)}"
            #accountItm5="ngModel" [(ngModel)]="accountItem5.accountNo" name="txtStoreCode" required
            placeholder="انقر مرتين للاختيار" />
        </td>
        <td>
          <button type="button" name="" id="" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></button>
        </td>
      </tr>

    </tbody>
  </table>


</div>



<!-- Categories Modal -->
<ng-template #templateCategories>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" style="color: black;">مركز الفئات</h4>
      <button type="button" class="btn-close close" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>

    </div>
    <div class="modal-body">
      <p>
        <input type="text" placeholder="{{'search'|translate}}" [(ngModel)]="textFilterModel"
          class="form-control col-md-6">
      </p>
      <table class="table">
        <tbody>
          <tr *ngFor="let item of lookupDetailsList | lookupCategoryFilter:textFilterModel, let i =index"
            class='clickable-row' (dblclick)="getItem(item,1);modalRef?.hide()">
            <td scope="row">{{item.code}}</td>
            <td>{{item.nameL1}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modalRef.hide()">اغلاق</button>
    </div>
  </div>
</ng-template>


<!-- Currency Modal -->
<ng-template #currencyTemplete>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" style="color: black;">العملات</h4>
      <button type="button" class="btn-close close" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>

    </div>
    <div class="modal-body">
      <p>
        <input type="text" placeholder="{{'search'|translate}}" [(ngModel)]="textFilterModel"
          class="form-control col-md-6">
      </p>
      <table class="table">
        <tbody>
          <tr *ngFor="let item of currencyList | currencyfilter:textFilterModel, let i =index" class='clickable-row'
            (dblclick)="getItem(item,2);modalRef?.hide()">
            <td scope="row">{{item.code}}</td>
            <td>{{item.nameL1}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modalRef.hide()">اغلاق</button>
    </div>
  </div>
</ng-template>

<!-- Account Modal -->
<ng-template #AccountTemplete>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" style="color: black;">العملات</h4>
      <button type="button" class="btn-close close" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>

    </div>
    <div class="modal-body">
      <p>
        <input type="text" placeholder="{{'search'|translate}}" [(ngModel)]="textFilterModel"
          class="form-control col-md-6">
      </p>
      <table class="table">
        <tbody>
          <tr *ngFor="let item of accountList | accountfilter:textFilterModel, let i =index" class='clickable-row'
            (dblclick)="getItem(item,3);modalRef?.hide()">
            <td scope="row">{{item.accountNo}}</td>
            <td>{{item.nameL1}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modalRef.hide()">اغلاق</button>
    </div>
  </div>
</ng-template>
