.container{
  height:600px;
}
.modal-content {
  direction: rtl;
}
.modal-title {
  size: 20px;
}
tbody, td, tfoot, th, thead, tr {
  line-height: .5;
}
.modal.show .modal-dialog {
  margin-right: 700px;
}
.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
   margin: 0;
   padding-bottom: 0px;
}
.modal-header{
  padding-bottom: 0px;

}
.table-responsive {
  overflow-x: auto;
  margin-top: 50px;
}
.indexStyle{
  width: 50px;
}
.w-25 {
  width: 35%!important;
}
