      
      <app-utilities
      (clickSave)="save()"
      [name]="pageName"
      
     ></app-utilities>
    <div class="row">

     

  <div class="divTreeContainer col-md-3">
    <app-tree-component #myButton (passId)="reload($event)"  ></app-tree-component>
  </div>
  <div  id="divContainer" class="col-md-9 divContainer" >
    <app-TableDynamicArrayDataExample  #myButton1 [parentData]=data [accountFromParent]="account" [buttonTrigger]="buttonToggle"></app-TableDynamicArrayDataExample>
  </div> <!-- End of Data Container -->
  </div>
 

 
