<div class="container">
  <app-utilities [name]="pageName"
  (clickSave)="save()">
  </app-utilities>
  <div>

<div [formGroup]="form">
  <div class="container-fluid mt-3">
    <div class="bg-white border rounded p-3">


      <div class="row mb-1">
        <div class="col-md-12 ">
          <div class="row controlRow">
            <div class="col-md-1">
              <label class="small float-right">الفرع</label>
            </div>

            <div class="col-md-5  col-sm-1">
              <div class="d-flex txtStore">
                <input type="text" class="form-control form-control-sm w-25 d-none txtStoreId"
                  name="txtStoreId" />

                <input type="text" formControlName="branchId"
                  class="form-control form-control-sm w-25 txtStoreCode" name="txtStoreCode" required
                  placeholder="13" />

                <input type="text" id="start" class="form-control form-control-sm txtStoreName" readonly
                  name="txtStoreName" value="وليمة السلطان - الدرعية - طريق الملك عبد العزيز" required />
              </div>
            </div>

            <div class="col-md-1 form-check">
              <input class="form-check-input" type="checkbox" value="isRecieved" id="flexCheckChecked"
                formControlName="isRecieved">
              <label class="form-check-label" for="flexCheckChecked">
                تم الاستلام ؟
              </label>
            </div>


          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 ">
          <div class="row controlRow">
            <div class="col-md-1">
              <label class="small float-right">المخزن المصدر</label>
            </div>

            <div class="col-md-5  col-sm-1">
              <div class="d-flex txtStore">
                <input type="text" formControlName="sourceStoreId"
                  class="form-control form-control-sm w-25 d-none txtStoreId" [(ngModel)]="sourceStoreItems.id"
                  name="txtStoreId" />

                <input type="text" class="form-control form-control-sm w-25 txtStoreCode"
                  (dblclick)="openModal(ChooseStore)"
                  (change)="lookupDetailsGetBylookupId(sourceStoreItems.code)"
                  [ngClass]="{'is-invalid': (!sourceStoreItems.code) && (sourceStoreItems.code==0)&& (lookupItm.touched || lookupItm.dirty)}"
                  #lookupItm="ngModel" [(ngModel)]="sourceStoreItems.code" name="txtStoreCode" required
                  [ngModelOptions]="{standalone: true}" placeholder="0" />

                <input type="text" id="start" class="form-control form-control-sm txtStoreName" readonly
                  [value]="sourceStoreItems.nameL1" name="txtStoreName" required placeholder="أسم الفئة" />
              </div>
            </div>
            <div class="col-md-1">
              <label class="small float-right">رقم الطلب</label>
            </div>
            <div class="col-md-5  col-sm-1">
              <div class="d-flex txtStore mb-1">
                <input type="text" id="start" formControlName="orderNumber" class="form-control form-control-sm txtStoreName" name="txtStoreName"
                  required />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 ">
          <div class="row controlRow">
            <div class="col-md-1">
              <label class="small float-right">المخزن الهدف</label>
            </div>

            <div class="col-md-5  col-sm-1">
              <div class="d-flex txtStore">
                <input type="text" formControlName="storeId"
                  class="form-control form-control-sm w-25 d-none txtStoreId" [(ngModel)]="storeItems.id"
                  name="txtStoreId" />

                <input type="text" class="form-control form-control-sm w-25 txtStoreCode"
                  (dblclick)="openModal(ChooseSourceStore)"
                  (change)="lookupDetailsGetBylookupId(storeItems.code)"
                  [ngClass]="{'is-invalid': (!storeItems.code) && (storeItems.code==0)&& (lookupItm.touched || lookupItm.dirty)}"
                  #lookupItm="ngModel" [(ngModel)]="storeItems.code" name="txtStoreCode" required
                  [ngModelOptions]="{standalone: true}" placeholder="0" />

                <input type="text" id="start" class="form-control form-control-sm txtStoreName" readonly
                  [value]="storeItems.nameL1" name="txtStoreName" required placeholder="أسم الفئة" />
              </div>
            </div>
            <div class="col-md-1">
              <label class="small float-right">تاريخ امر التحويل</label>
            </div>
            <div class="col-md-5  col-sm-1">
              <div class="d-flex txtStore mb-1">
                <input type="date" id="start" formControlName="storeConversionDate"
                class="form-control form-control-sm txtStoreName" name="txtStoreName" required />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 ">
          <div class="row controlRow">
            <div class="col-md-1">
              <label class="small float-right">ملاحظات </label>
            </div>
            <div class="col-md-5  col-sm-1">
              <div class="d-flex txtStore mb-1">
                <input type="text" id="start" formControlName="notes" class="form-control form-control-sm txtStoreName" name="txtStoreName"
                  required />
              </div>
            </div>
            <div class="col-md-1">
              <label class="small float-right">رقم امر التحويل </label>
            </div>
            <div class="col-md-5  col-sm-1">
              <div class="d-flex txtStore mb-1">
                <input type="number" id="start" formControlName="storeConversionCode"  placeholder="0" min="0" class="form-control form-control-sm txtStoreName" readonly
                  name="txtStoreName" required />
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>




    <div class="container-fluid mt-3">
      <div class="bg-white border rounded p-3">
        <table class="table table-striped table-inverse table-responsive">
          <thead class="thead-inverse">
            <tr>
              <th>اضافه</th>
              <th>رقم الصنف</th>
              <th>اسم الصنف</th>
              <th>EXP Date</th>
              <th>رقم الوحده</th>
              <th>اسم الوحده</th>
              <th>الكميه</th>
              <th>الكميه المتاحه</th>
              <th>ملاحظات</th>
              <th>حذف</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><button type="button" name="" id="" class="btn btn-outline-info btn-sm"><i
                    class="fa fa-plus"></i></button></td>
              <td scope="row">1</td>
              <td>صنف 1</td>
              <td>2022-10-10</td>
              <td>25</td>
              <td>وحده 1</td>
              <td>10ك</td>
              <td>15ك</td>
              <td>لا يوجد</td>
              <td><button type="button" name="" id="" class="btn btn-outline-danger btn-sm"><i
                    class="fa fa-trash"></i></button></td>
            </tr>
            <tr>
              <td><button type="button" name="" id="" class="btn btn-outline-info btn-sm"><i
                    class="fa fa-plus"></i></button></td>
              <td scope="row">1</td>
              <td>صنف 1</td>
              <td>2022-10-10</td>
              <td>25</td>
              <td>وحده 1</td>
              <td>10ك</td>
              <td>15ك</td>
              <td>لا يوجد</td>
              <td><button type="button" name="" id="" class="btn btn-outline-danger btn-sm"><i
                    class="fa fa-trash"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>



<ng-template #ChooseStore>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" style="color: black;">مركز الفئات</h4>
      <button type="button" class="btn-close close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>

    </div>
    <div class="modal-body">
      <p>
        <input type="text" placeholder="{{'search'|translate}}" [(ngModel)]="textFilterModel"
          [ngModelOptions]="{standalone: true}" class="form-control col-md-6">
      </p>
      <table class="table">
        <tbody>
          <tr *ngFor="let item of lookupDetailsList | lookupCategoryFilter:textFilterModel, let i =index"
            class='clickable-row' (dblclick)="getItem(item,1);modalRef.hide()">
            <td scope="row">{{item.code}}</td>
            <td>{{item.nameL1}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modalRef.hide()">اغلاق</button>
    </div>
  </div>
</ng-template>

<ng-template #ChooseSourceStore>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" style="color: black;">مركز الفئات</h4>
      <button type="button" class="btn-close close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>

    </div>
    <div class="modal-body">
      <p>
        <input type="text" placeholder="{{'search'|translate}}" [(ngModel)]="textFilterModel"
          [ngModelOptions]="{standalone: true}" class="form-control col-md-6">
      </p>
      <table class="table">
        <tbody>
          <tr *ngFor="let item of lookupDetailsList | lookupCategoryFilter:textFilterModel, let i =index"
            class='clickable-row' (dblclick)="getItem(item,2);modalRef.hide()">
            <td scope="row">{{item.code}}</td>
            <td>{{item.nameL1}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modalRef.hide()">اغلاق</button>
    </div>
  </div>
</ng-template>
