<mat-nav-list >
  <div class="logo py-4">
    <img src="./assets/Whitecloud_Dark.PNG" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">{{'applications' |translate}}</h2>

  <a mat-list-item routerLinkActive="list-item-active"    routerLink="/Area/home">
    <mat-icon>home</mat-icon> {{'home' |translate}}
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/dashboard">
    <mat-icon>dashboard</mat-icon> {{'dashboard' |translate}}
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/demographicinfo">
    <mat-icon>dashboard</mat-icon> {{'demographic_info' |translate}}
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/AccountCategory">
    <mat-icon>dashboard</mat-icon> {{'فئة الحسابات'}}
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/ItemCard">
    <mat-icon>dashboard</mat-icon> {{'بطاقة الاصناف'}}
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/Customers">
    <mat-icon>dashboard</mat-icon> {{'العملاء'}}
  </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/ChartOfAccount">
    <mat-icon>dashboard</mat-icon> {{'دليل الحسابات'}}
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/voucherjournal">
    <mat-icon>dashboard</mat-icon> {{'voucher_journal' |translate}}
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/voucherreceipt">
    <mat-icon>dashboard</mat-icon> {{'voucher_receipt' |translate}}
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/voucherpayment">
    <mat-icon>dashboard</mat-icon> {{'voucher_payment' |translate}}
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/voucherjournalForCustomer">
    <mat-icon>dashboard</mat-icon> {{'قيد اليومية لعميل'}}
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/branchsetting">
    <mat-icon>dashboard</mat-icon> {{'اعدادات الفرع'}}
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/bank">
    <mat-icon>dashboard</mat-icon> {{'bank_banks' |translate}}
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/lookup">
    <mat-icon>dashboard</mat-icon> {{'lookup_details' |translate}}
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/InvoicePaymentOrder">
    <mat-icon>dashboard</mat-icon> امر توريد مخزني
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Area/InvoiceReceipt">
    <mat-icon>dashboard</mat-icon> امر صرف مخزني
  </a>

  <a mat-list-item> <mat-icon>edit</mat-icon> {{'link' |translate}} 3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> {{'link' |translate}} 4 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> {{'link' |translate}} 5 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> {{'link' |translate}} 6 </a>
</mat-nav-list>
